<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd"
	default-lazy-init="false">

    <!-- 加载配置文件 -->
    <!--<context:property-placeholder location="classpath*:venus-kafka.properties"/>-->
    <!-- 扫描文件 -->
    <context:annotation-config/>
    <!-- 配置要扫描的包 -->
    <context:component-scan base-package="com.babel.basedata,com.babel.venus,com.babel.loky" />
        <!--<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>-->
        <!--<context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>-->
        <!--<context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/>-->
        <!--<context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>-->
        <!--<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>-->
    <!--</context:component-scan>-->
    <aop:aspectj-autoproxy proxy-target-class="true" />

	<!-- proxy-target-class默认"false",更改为"ture"使用CGLib动态代理 -->

	<import resource="spring-mybatis.xml" />


    <!-- 这个类，容器启动时加载，以便于加载系统参数到map -->
    <bean class="com.babel.basedata.util.SysconfigsLoadListener"/>

    <bean class="com.babel.common.core.service.impl.InjectBeanSelfProcessor"/>
    <bean class="com.babel.basedata.util.Sysconfigs">
        <property name="sysconfigService" ref="sysconfigService"/>
    </bean>
    <bean id="springContextUtil" class="com.babel.common.core.util.SpringContextUtil"/>

    <!-- proxy-target-class默认"false",更改为"ture"使用CGLib动态代理 -->
    <bean id="logServiceAspect" class="com.babel.basedata.logger.LogServiceAspect"/>
    <bean id="logAspect" class="com.babel.common.web.loader.LogAuditAspect"/>
    <bean id="venusLogAspect" class="com.babel.venus.aop.logging.VenusLogAspect"/>
    <aop:aspectj-autoproxy proxy-target-class="true" >
        <aop:include name="logAspect" />
        <aop:include name="logServiceAspect" />
        <aop:include name="venusLogAspect" />
    </aop:aspectj-autoproxy>


</beans>
